name: Continuous Validation of AWS Cloudformation Templates 
on:
  push:
    branches:
      - 'master'
#    paths:
#      - 'params.json'
jobs:
  Deploy:
    name: Deploy OCP_4.2 Cloudformation Nested Stack
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update params with CertificateAuthorities secret
        run: sed -i 's/CERTIFICATE_AUTHORITIES/'${{ secrets.CERTIFICATE_AUTHORITIES }}'/g' params.json
      - name: Validate Infra Template
        uses: actions/aws/cli@master
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
        with:
          args: cloudformation validate-template --template-body file://infra.yml
      - name: Create Netsted Stack
        uses: actions/aws/cli@master
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
        with:
          args: cloudformation create-stack --stack-name sandboxStack --template-body file://infra.yml --parameters file://params.json --capabilities CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND


