name: Continuous Validation of AWS Cloudformation Templates 
on:
  push:
    branches:
      - 'master'
#    paths:
#      - 'params.json'
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Configure SSH Key 
        run: ssh-keygen -t rsa -b 4096 -N '' -f id_rsa; eval "$(ssh-agent -s)"; ssh-agent $GITHUB_WORKSPACE/id_rsa



  validate-template:
    name: Validate Cloudformation Templates
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Validate Infra Template
        uses: actions/aws/cli@master
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
        with:
          args: cloudformation validate-template --template-body file://infra.yml

