name: Continuous Validation of AWS Cloudformation Templates 
on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: Validate Cloudformation Templates
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Validate Infra Template
        uses: actions/aws/cli@master
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-west-1
        with:
          args: cloudformation validate-template --template-body file://cf-templates/infra.yaml
      - name: Validate Modules
        uses: actions/aws/cli@master
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-west-1
        with:
          args: cloudformation validate-template --template-body file://cf-modules/*.yaml

