name: Continuous Validation of AWS Cloudformation Templates 
on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: Validate Cloudformation Templates
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Validate
        run: aws cloudformation validate-template --template-body file://cf-templates/infra.yaml
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          REGION: us-east-1